from airflow import DAG
from datetime import datetime

dag_id = "{{ config.dag_id }}"
default_args = {{ config.default_args }}
schedule_interval = "{{ config.schedule_interval }}"
catchup = {{ config.catchup }}

dag = DAG(
    dag_id= dag_id,
    default_args= default_args,
    schedule_interval= schedule_interval,
    catchup= catchup,
)

